<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joun.sosmall.member.MemberMapper">
  <select id="finds" resultType="hashMap">
    select
      id,
      email,
      is_email_allowed isEmailAllowed,
      name,
      phone,
      reg_at regAt,
      mod_at modAt
    from member       
    <where>
      <choose>
      <when test="search.id != null">
        and id = #{search.id}
      </when>
      <when test="search.id != null">
          and name like concat('%',#{search.name},'%')
      </when>
      <when test="search.email != null">
          and email like concat('%',#{search.email},'%')
      </when>
      </choose>
    </where>      
    <if test="page.sortBy != null">      
      <trim prefix="order by">
        <if test ="page.sortBy == 'id'">id</if>
        <if test ="page.sortBy == 'name'">name</if>
        <if test ="page.sortBy == 'regAt'">reg_at</if>
        <if test ="page.sortBy == 'modAt'">mod_at</if>
        <if test="page.sortDirection == 'DESC'">DESC</if>      
      </trim>
    </if>    
    limit #{page.limit}
    offset #{page.offset}
  </select>
  
  <select id="findsCount" resultType="int">
    select count(*) total
    from member
    <where>
      <choose>
      <when test="search.id != null">
        and id = #{search.id}
      </when>
      <when test="search.id != null">
          and name like concat('%',#{search.name},'%')
      </when>
      <when test="search.email != null">
          and email like concat('%',#{search.email},'%')
      </when>
      </choose>
    </where>
  </select>

</mapper> 
